<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>BOOST</title>
    <meta name="description" content="Java backoffice archetipo">
    <meta property="og:title" content="BOOST" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.boost.com" />
    <meta property="og:image" content="/assets/static/logo.png" />

    <link rel="shortcut icon" href="favicon.png">
    <link href="../back-office/back-office.css" rel="stylesheet">
</head>
