<div class="row border-bottom white-bg page-title">
    <div class="col-lg-10">
        <h2>Homepage</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Forms</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Advanced Form Elements</strong>
            </li>
        </ol>
    </div>
</div>
