<!-- Side menu -->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <i class="icon fa fa-user-circle"></i>
                    <span class="block user-name m-t">
                        <strong class="font-bold">David Williams</strong>
                    </span>
                </div>
            </li>
            <li class="active">
                <a href="index.html">
                    <i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="index.html">Dashboard v.1</a></li>
                    <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                    <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                    <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                </ul>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- END Side Menu -->
