.navbar-default {
    .nav {
        li {
            &.nav-header {
                background: $primary_color;
                color: #fff;

                .profile-element {
                    text-align: center;

                    .icon {
                        height: 54px;
                        width: 54px;
                        text-align: center;
                        font-size: 54px;
                    }

                    span {
                        &.user-name {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}

.mini-navbar {
    .logo-element {
        padding: 17px 0;
    }
}
