div {
    &.dataTables_filter {
        margin-bottom: 15px;

        label {
            display: block;
            font-weight: 700;
            font-size: 14px;
            color: $text-color;
            position: relative;

            &::after {
                content: "\e90a";
                display: block;
                position: absolute;
                bottom: -31px;
                right: 0px;
                height: 18px;
                width: 18px;
                font-family: 'icomoon' !important;
            }
        }

        input {
            font-weight: 400;

            &[type=search] {
                padding-right: 30px;
            }
        }
    }
}

table {
    tbody {
        tr {
            position: relative;

            td {
                .actions-wrapper {
                    text-align: right;
                    display: inline-block;
                    float: right;

                    a {
                        &.actions-open-button {
                            color: $text-color;
                            min-width: 20px;
                            display: inline-block;
                            text-align: center;
                        }
                    }

                    .actions-container {
                        display: none;
                        position: absolute;
                        width: 200px;
                        background-color: #fff;
                        z-index: 999;
                        right: 30px;
                        padding: 0;

                        li {
                            display: block;
                            border-bottom: 1px solid #E7EAEC;
                            text-align: center;

                            a {
                                display: block;
                                padding: 10px;
                                font-size: 12px;
                                color: $text-color;
                                line-height: 17px;

                                &:hover {
                                    background-color: #f5f5f5;
                                }
                            }

                            button {
                                font-size: 12px;
                                color: $text-color;
                                line-height: 17px;
                                -webkit-appearance: none;
                                border: none;
                                font-weight: 400;

                                &:active {
                                    box-shadow: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

div {
    &.dataTables_info {
        display: none;
    }

    &.dataTables_paginate {
        padding-top: 30px;

        .pagination {
            li {
                a {
                    padding: 8px 15px
                }
            }
        }
    }
}

