@import "../../../vendor/styles/inspinia-template/variables";

$primary_color: $navy;
$default_color: $dark-gray;
$success_color: $blue;
$info_color: $lazur;
$warning_color: $yellow;
$danger_color: $red;
