@import "variables";
@import "buttons";
@import "box-shadows";
@import "sidemenu";
@import "form";
@import "table";

/**
YOUR STYLE START HERE USING INSPINIA VARIABLES
 */
.loginscreen {
    .logo-name {
        text-align: center;
        font-size: 90px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.page-title {
    padding-bottom: 20px;

    h2 {
        font-weight: 300;
        line-height: 40px;
    }

    h4 {
        margin-top: 9px;
        line-height: 19px;
        font-weight: 700;
    }
}

/* fix for login in safari */
.form-control {
    user-select: auto;
}
