<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        body{
           font-family: Helvetica, Arial, sans-serif;
           font-size: 12px;
        }
        .email-container{
            background : repeating-linear-gradient(45deg,transparent,transparent 3px, rgba(165, 175, 181, 0.27) 6px);
            padding-bottom: 30px;
        }
        .header-email{
            background: #ECEDED; 
            border-bottom: 10px solid #EF4750; 
            height: 120px;  
            padding: 0 30px;
        }
        .header-title-container{
            margin-top: 50px; 
            color: #3F3F40; 
            text-align: right; 
            font-size: 36px; 
            font-weight: bold; 
            display: inline-block; 
            float: right;
        }
        .header-mail-subtitle{
           font-size: 28px;
           font-family: Helvetica, Arial, sans-serif;
        }
        .body-mex-container{
            margin: 40px;
        }
        .body-subject{
            color: #EF4750; 
            font-size: 27px; 
            text-transform: uppercase;
            font-family: Helvetica, Arial, sans-serif;
        }
        .body-text{
            margin-top: 30px; 
            padding: 30px;   
            background-color: rgba(255, 255, 255, 0.7); 
            border:1px solid rgba(165, 175, 181, 0.35);
        }
    
    </style>
  </head>
  <body>
    <div class="email-container">
        <div class="header-email">
            <div th:style="'display: inline-block'">
                <img th:src="|cid:${logo}|" th:style="'margin: 18px 0; height: 75px; width: auto;'"/>
            </div>
            <div class="header-title-container">
                <span th:text="#{project.brand}"></span>
                <span th:text="#{project.name}"></span>
                <span class="header-mail-subtitle">email</span>
            </div>
        </div>
        <div class="body-mex-container">
            <div class="body-text" th:utext="${body}" ></div>
        </div>
    </div>
  </body>
</html>