<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <title><%= htmlWebpackPlugin.options.title %></title>

        <link href="/vendor/css/bootstrap.min.css" rel="stylesheet">

        <!-- Toastr style -->
        <link href="/vendor/css/animate.css" rel="stylesheet">

    </head>
    <body>
        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                </span>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        <li class="">
                            <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li class="active"><a href="index.html">Dashboard v.1</a></li>
                                <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                                <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                                <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                                <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
                        </li>
                    </ul>


                </div>
            </nav>
        </div>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <form action="/logout" method="POST" class="form-inline require-confirm" data-message="Uscire dall'applicazione?">
                                <input type="hidden" name="_csrf" value="a5c91273-eb55-4fad-8d34-26c2c0ec518f">
                                <button type="submit" class="btn btn-link">
                                    <i class="fa fa-sign-out"></i> Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <!-- YOUR COMPONENTS HERE -->
                    <div class="react-component" data-type="Welcome" ></div>
                </div>
            </div>
        </div>

        <script>
            window.user = {
                name: "Bruno"
            };
        </script>
    </body>
</html>
