{{#> layouts/base }}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>

            <div>
                <h1 class="logo-name">
                    BOOST
                </h1>
            </div>

            <div class="alert alert-danger">
                <strong>Errore</strong> Credenziali errate
            </div>

            <h3>Welcome to Boost</h3>
            <form class="m-t" role="form" action="${ctx}/login" method="POST">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="form-group text-left">
                    <label for="username">Username</label>
                    <input name="username" type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group text-left m-b-md">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Password" required="">
                </div>
                <div class="p-h-md">
                    <button type="submit" class="btn btn-primary block full-width">
                        Login
                    </button>
                </div>
                <a href="${ctx}/user/forgotpwd"><small>Password dimenticata?</small></a>
            </form>
        </div>
    </div>

{{/layouts/base}}
