{{#> layouts/internal_page }}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox" >
                <div class="ibox-title">
                    <h5>Titolo</h5>
                </div>

                <!-- Inclusione componente react -->
                <div class="react-component" data-type="Welcome"></div>


                <div class="ibox-content">
                    <form action="" id="table-filter" class="filters-container">
                        <div class="row">
                            <div class="col-sm-3 form-group">
                                <label>Select</label>
                                <select name="nome" class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>CHOSEN</label>
                                <select name="" id="ss" class="chosen-select form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>CHOSEN Multiple</label>
                                <select name="" id="sss" class="chosen-select form-control" multiple>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>TEXT</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>TEXT</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-sm-3 form-group">
                                <label>TEXT</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-sm-3 text-right">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="datatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Nome</th>
                                    <th>Cognome</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>admin@vidiemme.it</td>
                                    <td>Admin</td>
                                    <td>Admin</td>
                                    <td>
                                        <div class="actions-wrapper">
                                            <a href="#" class="actions-open-button">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="actions-container z-depth-1">
                                                <li>
                                                    <a href="">Azione 1</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                                <li>
                                                    <a href="">Azione 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#*inline "page_scripts"}}
        <script>
            var user = {
                name: 'Bruno'
            };
            $(function(){
                $('#datatable').DataTable({
                    searching: false,
                    lengthChange: false,

                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Italian.json"
                    },
                })
            });
        </script>
    {{/inline}}
{{/layouts/internal_page }}
