{{#> layouts/base }}
    <div id="wrapper">
        {{> components/sidemenu }}
        <main id="page-wrapper" class="gray-bg">
            {{> components/header }}
            {{> components/page_title }}

            {{!-- CONTENUTO DELLA PAGINA --}}
            <div class="wrapper wrapper-content animated fadeInRight">
                {{> @partial-block }}
            </div>

            {{> components/footer }}
        </main>
    </div>

    {{> components/scripts }}

    {{> page_scripts }}

{{/layouts/base}}
